# Variables de Entorno del Servidor y Base de Datos
PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=blog_db
JWT_SECRET=clave_secreta_super_segura_para_jwt_2026
FRONTEND_URL=http://localhost:5173